<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- VUEJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>email-list</title>
</head>
<body>
    
    <div id="app">
        <div v-if="loading">
            <img src="https://icon-library.com/images/loading-gif-icon/loading-gif-icon-9.jpg" alt="">
        </div>
        
        <div v-else="!loading">
            <h1>Random list of Emails</h1>
            <!-- stampo la lista delle mail andando a ciclare l'array delle mail nei data -->
            <ul>
                <li v-for="email of emailArr">{{email}}</li>
            </ul>
        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>